@use "../../style/rem" as *;


// Cherry 根容器排版
@mixin styles {
  color: var(--cherry-c-text-1);
  font-size: rem(16);
  line-height: 1.6;
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
