@use "../../style/rem" as *;

@mixin styles {
  blockquote {
    margin: 0 0 rem(16);
    padding: 0 rem(16);
    color: var(--cherry-c-text-2);
    border-left: rem(4) solid var(--cherry-c-brand-2);
  }
}
