@use "../../common/rem" as *;

@mixin styles {
  blockquote {
    margin: 0 0 rem(16);
    padding: rem(8) rem(16);
    color: var(--cherry-c-text-2);
    background: color-mix(in srgb, var(--cherry-c-text-3) 4%, transparent);
    border-left: rem(4) solid var(--cherry-c-brand-2);
    border-radius: 0 rem(4) rem(4) 0;
  }
}
