@use "../../common/rem" as *;

@mixin styles {
  hr {
    height: 0;
    margin: rem(24) 0;
    border: 0;
    border-top: rem(1) solid
      color-mix(in srgb, var(--cherry-c-text-3) 35%, transparent);
  }
}
