@use "../../common/rem" as *;

@mixin styles {
  ul,
  ol {
    margin: 0 0 rem(16);
    padding-left: rem(32);
  }

  li + li {
    margin-top: rem(4);
  }

  li > ul,
  li > ol {
    margin-top: rem(4);
    margin-bottom: 0;
  }
}
