@mixin styles {
  .cherry-card-grid {
    --card-grid-cols-sm: 1;
    --card-grid-cols-md: 2;
    --card-grid-cols-lg: 2;

    display: grid;
    grid-template-columns: repeat(var(--card-grid-cols-sm), minmax(0, 1fr));
    gap: 16px;
    margin: 16px 0;

    @media (min-width: 768px) {
      grid-template-columns: repeat(var(--card-grid-cols-md), minmax(0, 1fr));
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(var(--card-grid-cols-lg), minmax(0, 1fr));
    }
  }
}
